API_PORT="8080"
API_HOSTNAME="http://localhost:${API_PORT}"

# The maximum number of times to try generating a unique short code before
# aborting and returning an error.
MAX_TRIES_CREATE_SHORT_CODE=10

# The maximum permitted length of an original URL.
MAX_URL_LENGTH=1000

# The number of characters each base62 short code should have.
SHORT_CODE_LENGTH=6

# The number of milliseconds that must elapse until a short code expires.
SHORT_CODE_TTL_MILLIS=30000

TIMEOUT_IDLE_MILLIS=60000
TIMEOUT_READ_MILLIS=30000
TIMEOUT_REQUEST_MILLIS=30000
TIMEOUT_WRITE_MILLIS=30000